<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BigData Analytics - Our Services</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>
<style>
    .company_title {
        font-family: 'Bungee', cursive;
    }

    .big {
        color: #46A7F5;
    }

    .underline {
        border-bottom: solid;
        border-bottom-color: #46A7F5;
    }
</style>
<body>
<div id="app">
    <v-app dark>
        <v-toolbar dark fixed>
            <v-toolbar-title class="display-2 company_title">
                <span class="big">BIG</span>Data
            </v-toolbar-title>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn flat href="index.html">Home</v-btn>
                <v-btn flat href="services.html">Our Services</v-btn>
                <v-btn flat href="about.html">About Us</v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <main>
            <section>
                <v-layout
                        column
                        wrap
                        class="my-5"
                        align-center
                >
                    <v-flex xs12 sm4 class="my-3">
                        <div class="text-xs-center">
                            <h1 class="headline display-1">Our Services are <span class="big">out of this world</span></h1>
                        </div>
                        <div><p>Check out our <span class="underline">service plans</span>! They're as good as they come. All of our services come with personalized
                        support from our business to identify strategies for your business. If your data is largely about consumers,
                        then we can best show you how to leverage that data to become more customer-centric.
                        </p></div>
                    </v-flex>
                    <v-flex xs12>
                            <v-layout row wrap align-center>
                                <v-flex xs12 >
                                    <v-data-table
                                            v-bind:headers="headers"
                                            :items="items"
                                            class="elevation-1"
                                            hide-actions
                                            dark
                                    >
                                        <template slot="items" scope="props">
                                            <td>{{ props.item.name }}</td>
                                            <td class="text-xs-right">{{ props.item.price }}</td>
                                            <td class="text-xs-right">{{ props.item.customer }}</td>
                                            <td class="text-xs-right">{{ props.item.dataStorage }}</td>
                                            <td class="text-xs-right">{{ props.item.actionFigures }}</td>
                                        </template>
                                    </v-data-table>
                                </v-flex>

                            </v-layout>
                    </v-flex>
                </v-layout>
            </section>
            <section>
                <v-container grid-list-xl>
                    <v-layout row center class="my-5">
                        <v-flex xs2></v-flex>
                        <v-flex xs8>
                            <v-card class="elevation-0 transparent">
                                <v-card-title primary-title class="layout justify-center">
                                    <div class="headline">Interested in our services? Leave us your information for more info!</div>
                                </v-card-title>
                            </v-card>
                            <v-card dark>
                                <v-container grid-list-md>
                                    <v-layout row wrap>
                                        <v-flex xs12 sm6>
                                            <v-text-field box dark label="First Name" v-model="first"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field box dark label="Last Name" v-model="last"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-text-field
                                                    box dark
                                                    label="Email address"
                                                    v-model="email"
                                                    persistent-hint
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                                <v-divider class="mt-5"></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn success class="elevation-0">Submit</v-btn>
                                </v-card-actions>
                                <v-spacer></v-spacer>

                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </section>



            <v-footer class="">
                <v-layout row wrap align-center>
                    <v-flex xs12>
                        <div class="white--text ml-3">
                            Created by <span class="white--text">Steven Myers</span>
                        </div>
                    </v-flex>
                </v-layout>
            </v-footer>
        </main>
    </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                headers : [
                    { text: "Package Name", align: 'left', sortable: false, value: 'name'},
                    { text: "Package Price (Monthly)", align: 'center', value: 'price'},
                    { text: "Customer Service Hours", align: 'left',  value: 'customer'},
                    { text: "Data Storage (in GB)", align: 'left',  value: 'dataStorage'},
                    { text: "Action Figures (Limited Edition)", align: 'left', value: 'actionFigures'}
                ],
                items : [
                    {value : false, name : "Basic", price: "$10", customer: "None", dataStorage: "1", actionFigures: "0"},
                    {value : false, name : "Essential", price: "$20", customer: "10", dataStorage: "10", actionFigures: "1"},
                    {value : false, name : "Premium", price: "$50", customer: "20", dataStorage: "100", actionFigures: "2"},
                    {value : false, name : "Elite", price: "$100", customer: "40", dataStorage: "1,000", actionFigures: "3"},

                ],
                first : "",
                last : "",
                email : ""
            }
        }
    })
</script>
</body>
</html>
